*, ::after, ::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
        url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
        url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
        url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

body {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-family: 'sf-pro-display';
    font-weight: 400;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10;
}

.title {
    font-family: 'spaceagecyrillic';
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    padding: 100px 0;
}

.button {
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 45px;
}

.header {
    background-image: url(../images/Group\ 10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100VH;
    width: 1080px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
}

.menu__list {
    display: flex;

}

.menu_item {
    margin-right: 30px;
}

.menu_link {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    transition: color .5s;
}

.menu_link:hover {
    color: #CB0E0E;
    text-decoration: underline;
}

.phone {
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
}

.login {
    margin-left: 22px;
    margin-right: 134px;
}

.header__content {
    max-width: 600px;
}

.header__title {
    font-family: 'spaceagecyrillic';
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}

.header__title span {
    font-size: 110px;
}

.header__text {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.header__btn {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    border: 1px solid #fff;
    padding: 15px 10px 16px;
}

.header__descr {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}

.header__descr-text {
    width: 165px;
    font-size: 14px;
    line-height: 17px;

}

.header__descr-text+.header__descr-text {
    margin-left: 52px;
}

.about {
    background-image: url(../images/about-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.about__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

.about__item:nth-child(odd) {
    flex-direction: row-reverse;
}

.about__img {
    max-width: 100%;
}

.about__content {
    width: 600px;
}

.about__content-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 5px;
}

.about__content-subtitle {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #036CCA;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about__content-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.about__content-text p {
    max-width: 165px;
}

.about__table {
    margin-bottom: 50px;
}

.about__table-tr {
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}

.about__table-tr+.about__table-tr {
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
    text-align: center;
}

.about__table-td {
    padding: 10px 30px 10px 0;
}

.about__table-td span {
    font-size: 14px;
    line-height: 17px;
    display: block;
}

.table__caption {
    caption-side: bottom;
    text-align-last: left;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
}

.howto {
    background-image: url(../images/howto-bg.jpg);
    margin-top: -1px;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.howto__box {
    text-align: center;
}

.howto__box circle,
.howto__box text,
foreignObject {
    transition: all .5s;
    cursor: pointer;
    font-size: 18px;
}

.howto__box g:hover circle {
    r: 20px;
    fill: #036CCA;
}

.howto__box g:hover text {
    fill: #036CCA;
    font-size: 25px;
}

.howto__box g:hover foreignObject {
    color: #036CCA;
    font-size: 22px;
}

foreignObject {
    text-align: left;
}

.tobook {
    background-image: url(../images/tobook-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -3px;
    min-height: 100vh;
}

.tobook__inner {
    display: flex;
    justify-content: space-between;

}

.tobook__text {
    width: 165px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 52px;
}

.tobook__text+.tobook__text {
    margin-right: 0;
    margin-left: 0;
}

.info {
    background-image: url(../images/Group\ 15.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.specialoffer__inner {
    display: flex;
    justify-content: space-between;
}

.specialoffer__item {
    width: 500px;
}

.specialoffer__item-box {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 1px solid #fff;
    padding: 40px 75px;
    text-align: center;
}

.specialoffer__item-text {
    font-size: 24px;
    line-height: 29px;
    width: 236px;
    margin: 0 auto;
}

.specialoffer__item-text span {
    color: #CB0E0E;
}


.specialoffer__oldprice {
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    position: relative;
}

.specialoffer__oldprice::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 1px;
    background-color: #CB0E0E;
    top: 7px;
    right: 0;
    transform: rotate(15deg);
}

.specialoffer__newprice {
    font-size: 48px;
    line-height: 57px;
}

.specialoffer__btn {
    width: 100%;
}

.services {
    padding-bottom: 200px;
}

.services__inner {
    display: flex;
    justify-content: space-between;
}

.services__box-list {
    width: 620px;
    margin-right: 80px;
    font-size: 24px;
    line-height: 29px;
}

.service__list-title {
    margin-bottom: 25px;
}

.services__list {
    list-style: none;
    margin-bottom: 25px;
}

.services__list-item {
    padding-left: 36px;
    position: relative;
}

.services__list-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: 0;
    top: 4px;
}

.services__descr {
    font-size: 12px;
    line-height: 14px;
}

.services__buttons {
    width: 500px;

}

.services__btn {
    width: 100%;
}

.services__btn-first {
    margin-bottom: 50px;
    position: relative;
}

.services__btn-first::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 41px;
    background-image: url(../images/1.png);
    width: 192px;
    height: 150px;
}

.slider {
    text-align: center;
}

.slider__inner {
    margin-bottom: 50px;
    border: 1px solid #FFFFFF;
    padding: 100px 0;
}

.slider__box-img {
    margin: 0 auto;
}

.slider__descr {
    font-family: 'spaceagecyrillic';
    font-size: 24px;
    line-height: 30px;
}

.slider__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 5;
}

.slider__arrow__right {
    right: 75px;
}

.slider__arrow__left {
    left: 75px;
}

.contact {
    background-color: #010203;
    padding-bottom: 100px;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
}

.contact__box {
    width: 500px;
}

.contact__title {
    padding-bottom: 46px;
}

.contact__box-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 80px;
}

.contact__form-input {
    background-color: #010203;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 14px;
    line-height: 17px;
    padding: 20px 0;
    width: 100%;
}

.contact__form-input::placeholder {
    color: #fff;
    font-family: 'sf-pro-display';
    font-size: 14px;
    line-height: 17px;
}

.contact__btn {
    margin-top: 70px;
    width: 100%;
}

.contact__guarantees {
    width: 500px;
}

.contact__guarntees-text {
    font-size: 24px;
    line-height: 29px;
}

.contact__guarantees-image {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.footer {
    background-image: url(../images/Group\ 15.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding: 100px 0 150px;
}

.footer__inner {
    display: flex;
    justify-content: flex-end;
}

.footer__text {
    width: 165px;
    margin-right: 50px;
}

.footer__text p+p {
    margin-top: 50px;
}

.footer__menu {
    list-style: none;
    width: 120px;
    margin-right: 95px;
}

.footer__menu_item,
.footer__links_item {
    margin-bottom: 15px;
}

.footer__menu_link,
.footer__links_link {
    text-transform: uppercase;
    transition: color .5s;
}

.footer__menu_link:hover,
.footer__links_link:hover {
    color: #CB0E0E;
}

.footer__links {
    list-style: none;
}